<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="/static/css/resultado.css">
</head>
<body>
  <div class="container">
    <div class="text">
      <p>O nome consultado foi: {{ nome }}</p>
      <p> Porém este nome não foi encontrado em nenhum registro do IBGE, tente outro nome!</p>
    </div>
    <div class="imgbox">
      <img src="/static/ibgeNobg.png">
    </div>
  </div>
</body>    
</html>