<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de código Python</title>
    <link rel="stylesheet"  href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="/static/ibge2Nobg.png">
        </div>
        <h1>Gostaria de saber quantas pessoas existiam com seu nome em cada década?</h1>

        <div class="box">
            <h3>Digite seu nome <i>abaixo</i> e deixe o IBGE te contar!</h3>
            <form id="form" action="/" method="POST">
                <div class="inputBox">
                    <input type="text" name="nome" id="email" placeholder="digite o nome" required>
                    <span id="text"></span>
                    <button class="btn" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>    
</body>
</html>
